[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
sqlalchemy = "*"
python-jose = {extras = ["cryptography"], version = "*"}
psycopg2 = "*"
monobank = "*"

[dev-packages]

[requires]
python_version = "3.9"
